nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
  div(class="navbar-header")
    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
      span(class="sr-only") Toggle navigation
    a(class="navbar-brand",href="index.html") CS TA Room Booking

  ul(class="nav navbar-right top-nav")
    li(class="dropdown")
      a(class="dropdown-toggle", data-toggle="dropdown")
        i(class="fa fa-user")
        |  #{username}
        b(class="caret")
      ul(class="dropdown-menu")
        li
          a(href="/profile")
            i(class="fa fa-fw fa-user")
            |  Profile
        li
          a(href="/profile")
            i(class="fa fa-fw fa-key")
            |  Password
        li
          a(href="#")
            i(class="fa fa-fw fa-gear")
            |  Settings
        li(class="divider")
        li
          a(href="/logout")
            i(class="fa fa-fw fa-power-off")
            |  Log Out

  div(class="collapse navbar-collapse navbar-ex1-collapse")
    ul(class="nav navbar-nav side-nav")
      - var place_holder_list = ["Dashboard", "Booking", "Announcement", "Report Violation", "Policy"]
      - var route_list = ["dashboard", "booking", "announcement", "comment", "policy"]
      - var page_name = page
      - for (var x = 0; x < place_holder_list.length; x++)
        - if (place_holder_list[x] == page_name)
            li(class="active")
              - if (item == "Dashboard")
                  a(href="/")
                    i(class="fa fa-fw fa-dashboard")
                    |  #{place_holder_list[x]}
              - else
                  a(href="/" + route_list[x])
                      i(class="fa fa-fw fa-dashboard")
                      |  #{place_holder_list[x]}
        - else
            li
              - if (place_holder_list[x] == "Dashboard")
                  a(href="/")
                    i(class="fa fa-fw fa-dashboard")
                    |  #{place_holder_list[x]}
              - else
                  a(href="/" + route_list[x])
                      i(class="fa fa-fw fa-dashboard")
                      |  #{place_holder_list[x]}
