//- profile.pug
//- Author(s): Chong, Chen Song
//- variables:
//-   username
//-   source ('CSIL Account' or 'SFU Central Authentication Service')
//-   allowAdmin (true or false)
//-   page (see place_holder_list)
nav(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
  div(class="navbar-header")
    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-ex1-collapse")
      span(class="sr-only") Toggle navigation
    a(class="navbar-brand",href="index.html") CS TA Room Booking

  ul(class="nav navbar-right top-nav")
    li(class="dropdown")
      a(class="dropdown-toggle", data-toggle="dropdown", href="#")
        i(class="fa fa-user")
        |  #{username}
        b(class="caret")
      ul(class="dropdown-menu")
        li
          a(href="/profile")
            i(class="fa fa-fw fa-user")
            |  Profile
        if source == 'CSIL Account'
          li
            a(id="password" href="#")
              i(class="fa fa-fw fa-key")
              |  Password
        li
          a(href="#")
            i(class="fa fa-fw fa-gear")
            |  Settings
        li(class="divider")
        li
          a(href="/logout")
            i(class="fa fa-fw fa-power-off")
            |  Log Out

  div(class="collapse navbar-collapse navbar-ex1-collapse")
    ul(class="nav navbar-nav side-nav")
      - var place_holder_list = ["Dashboard", "Booking", "Announcement", "Report Violation", "Policy"]
      - var route_list = ["dashboard", "booking", "announcement", "comment", "policy"]
      - var icons = ["fa-dashboard", "fa-book", "glyphicon-bullhorn", "fa-comments", "fa-star"]
      - if (allowAdmin)
        - place_holder_list = ["Dashboard", "Booking", "Announcement", "Reported Violations", "Policy", "Privilege Management", "User Group Management", "Room Management"]
        - route_list = ["dashboard", "booking", "announcement", "comment", "policy", "admin/privileges", "admin/usergroup", "admin/rooms"]
        - icons = ["fa-dashboard", "fa-book", "glyphicon-bullhorn", "fa-comments", "fa-star", "fa-tags", "fa-group", "fa-home"]
      - var page_name = page
      - for (var x = 0; x < place_holder_list.length; x++)
        - if (place_holder_list[x] == page_name)
            li(class="active")
              - if (item == "Dashboard")
                  a(href="/")
                    i(class="fa fa-fw " + icons[x])
                    |  #{place_holder_list[x]}
              - else
                  a(href="/" + route_list[x])
                      i(class="fa fa-fw " + icons[x])
                      |  #{place_holder_list[x]}
        - else
            li
              - if (place_holder_list[x] == "Dashboard")
                  a(href="/")
                    i(class="fa fa-fw " + icons[x])
                    |  #{place_holder_list[x]}
              - else
                  a(href="/" + route_list[x])
                      i(class="fa fa-fw " + icons[x])
                      |  #{place_holder_list[x]}

//- Please always put the following at the very bottom. -- Chen
if source == 'CSIL Account'
  div(class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4(class="modal-title" id="passwordModalLabel") New Password
        div(class="modal-body")
          div(class="container-fluid")
            div(class="row")
              div(class="col-md-4") Old Password:
              div(class="col-md-6")
                div(id="old-password-msg")
                  input(type="password" class="form-control" placeholder="Old Password" id="old-password")
            br
            div(class="row")
              div(class="col-md-4") New Password:
              div(class="col-md-6")
                div(class="new-password-msg")
                  input(type="password" class="form-control" placeholder="New Password" id="new-password")
            br
            div(class="row")
              div(class="col-md-4") Confirm New Password:
              div(class="col-md-6")
                div(class="new-password-msg")
                  input(type="password" class="form-control" placeholder="Confirm New Password" id="confirm-new-password")
        div(class="modal-footer")
          button(type="button" class="btn btn-success" id="change-password-confirm") Change Password

