//- admin-privileges.pug
//- Author(s): Chen Song
//- variables:
//-   <All from navbar.pug>
//-   privileges
//-   csrfToken
doctype html
html(lang="en")
  head
    include includes/header.html
    link(rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css")
  body
    div(id="wrapper")
      include includes/navbar.pug

      div(id="page-wrapper")
        div(class="container-fluid")
          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") Privilege Management
          div(id="csrfToken" data-token=csrfToken)
          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-certificate")
                  |  Privileges
          div(class="info-wrapper")
            p(class="text-danger" id="privileges_prompt") 
              | Hint: Be careful when editing your own privileges... If you remove administrative privileges from yourself, you will 
              em NOT 
              | be able to get them back.
            div(class="row")
              div(class="col-lg-12")
                table(id="privileges_table" class="display")
                  thead
                    tr
                      th id
                      th User Group Description
                      th Administrative Privileges
                      th Maximum Concurrent Bookings
                  tbody
                    each privilege in privileges
                      tr(data-id=privilege.id)
                        td #{privilege.id}
                        td(class="description-edit" contenteditable="true") #{privilege.description}
                        td
                          select(class="privilege-select")
                              if privilege.allowAdmin
                                option(selected="selected") Yes
                                option No
                              else
                                option Yes
                                option(selected="selected") No
                        td(class="max-bookings-edit" contenteditable="true") #{privilege.maxBookings}


    include includes/scripts.html
    script(src="/js/admin.js")
    script(src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
