//- profile.pug
//- Author(s): Chen Song
//- variables:
//-   <All from navbar.pug>
//-   email
//-   notification
//-   biography
//-   maxBookings
//-   csrfToken

doctype html
html(lang="en")
  head
    include includes/header.html
  body
    div(id="wrapper")
      include includes/navbar.pug

      div(id="page-wrapper")
        div(class="container-fluid")
          div(class="row")
            div(class="col-lg-12")
              h1(class="page-header") Profile

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-user")
                  |  Personal Infomation
          div(class="info-wrapper")
            div(class="row")
              div(class="col-md-4 col-xs-10")
                dl(class="form-group")
                  dt
                    label(for="username") Username
                  dd
                    input(id="username" class="form-control" value=username readonly="readonly")
                dl(class="form-group")
                  dt
                    label(for="email") Email
                  dd
                    input(id="email" class="form-control" value=email readonly="readonly")
                dl(class="form-group")
                  dt
                    label(for="source") Account Source
                  dd
                    input(id="source" class="form-control" value=source readonly="readonly")
                dl(class="form-group")
                  dt
                    label Notification
                  dd
                    div(class="checkbox")
                      label
                        if notification
                          input(id="notification" type="checkbox" checked)
                        else
                          input(id="notification" type="checkbox")
                        | Please send me email notifications
                dl(class="form-group")
                  dt
                    label(for="biography") Biography
                  dd
                    textarea(id="biography" class="form-control" col="40" name="biography" placeholder="Tell us a little bit about yourself" rows="3" malgength="150") #{biography}
                input(id="csrfToken" type="hidden" name="_csrf" value=csrfToken)
                p(class="text-danger" id="prompt")
                input(id="update-info" type="submit" class="btn btn-primary" value="Update Personal Information")

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-lock")
                  |  Privileges
          div(class="info-wrapper")
            div(class="row")
              div(class="col-md-6 col-xs-12")
                div(class="table-responsive")
                  table(class="table table-hover")
                    thead
                      tr
                        th Admin Privileges
                        th Max Concurrent Bookings
                    tbody
                      tr
                        if allowAdmin
                          td Allowed
                        else
                          td Not Allowed
                        td #{maxBookings}

          div(class="row")
            div(class="col-lg-12")
              ol(class="breadcrumb")
                li(class="active")
                  i(class="fa fa-calendar")
                  |  Calendar Settings
          div(class="info-wrapper")
            div(class="row")
              div(class="col-lg-12")
                p(id="calendar_feed_notice") Copy the link below and paste it into any calendar app that takes iCal feeds (Google Calendar, iCal, Outlook, etc.) By doing that, you can check your bookings in your calendar app.
                p(class="calendar_feed",id="calendar_feed")  
                p(class="ical-tips-header") Tips
                ul(class="ical_tips")
                  li
                    a(href="https://www.howtogeek.com/howto/30834/add-an-ical-or-.ics-calendar-to-google-calendar/") How to import iCal feed into Google calendar
                  li
                    a(href="http://support.doodle.com/customer/en/portal/articles/1143090-connect-ical-icloud-with-doodle-via-ics-feed") How to import iCal feed into iCal
                  li
                    a(href="https://support.office.com/en-us/article/View-and-subscribe-to-Internet-Calendars-f6248506-e144-4508-b658-c838b6067597") How to import iCal feed into Outlook
                  
    include includes/scripts.html
    script(src="/js/profile.js")
    script(src="/js/calendar_setting.js")

